/*
   Wednesday, 29 January 202015:08:03
   User: 
   Server: ALAIN
   Database: alainEntityFramework
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.studentTable
	(
	firstName varchar(50) NULL,
	lastName varchar(50) NULL,
	id int NOT NULL,
	country varchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.studentTable ADD CONSTRAINT
	PK_studentTable PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.studentTable SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.studentTable', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.studentTable', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.studentTable', 'Object', 'CONTROL') as Contr_Per 